@use './breakpoints' as *;
@use './colors' as *;
@use './functions' as *;
@use './mixins' as *;
@use './variables' as *;

.accordion {
  background-color: $blue-1;
  color: #444;
  cursor: pointer;
  padding: 1.125rem 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: $transition;
  font-weight: weight(bold);

  &::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  &.active::after {
    content: "\2212";
  }

  &:hover {
    color: $blue-3;
  }

  &__panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid $blue-2;

    .panel-section {
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include tablet-small {
          flex-direction: row;
        }
      }
    }
  }
}