@use './breakpoints' as *;
@use './colors' as *;
@use './functions' as *;
@use './mixins' as *;
@use './variables' as *;

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: $transition;

  &::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  &.active::after {
    content: "\2212";
  }

  &.active, &:hover {
    background-color: #ccc;
  }

  &__panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}