@use './breakpoints'as *;
@use './colors'as *;

// footer {
//   background: $primary;
//   text-align: center;
//   color: $white;
//   padding: 20px;

//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 50px;
// }

footer {
  background: $primary;
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

.footer {
  &__content {
    display: flex;
    flex-direction: column;

    &--company {
      font-weight: 800;
    }

    &--rights {
      font-size: .8rem;

      @include tablet-small {
        margin-left: 1rem;
        font-size: unset;
      }
    }

    @include tablet-small {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}