@use './colors' as *;
@use './breakpoints' as *;
@use './mixins' as *;

.slider-box {
  @include flex(column);
  
  // @include tablet-small {
  //   max-height: 30vh;
  // }

  // &, &__left, &__right {
  //   border: 1px dashed red;
  // }

  &__left, &__right {
    @include flex(column);
    flex: 1;
  }

  &__left {
    order: 2;

    @include tablet-small {
      order: 1;
    }    
  }

  &__right {
    order: 1;

    @include tablet-small {
      order: 2;
    }

    .slideshow {
      max-width: 1000px;
      // height: 100%;
      position: relative;
      margin: auto;

      &__slide {
        display: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &.fade {
          animation-name: fade;
          animation-duration: 1s;
        }
  
        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }        
      }
    }
  }

  &__left {
    &--content {
      display: flex;
      background: $primary;
      padding: .5rem;     
    }

    &--inner {
      border: 1px solid $white;
      width: 100%;
      padding: .5rem;

      .logo-icon {
        display: flex;
        justify-content: center;

        img {
          max-width: 300px;
        }
      }
    }   
    
    hr {
      width: 2rem;
      background: $white;
    }

    &--title {
      text-align: center; 
      h3 {
        text-transform: uppercase;
        font-weight: 300;
      }
    }    
  }

  @include tablet-small {
    @include flex(row);
  }

  @include tablet-large {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
}