@use 'colors' as *;

//shadows
$dropshadow--1: 0px 4px 12px rgba($black, 0.08);
$dropshadow--2: 0px 8px 24px rgba($black, 0.1);
$dropshadow--3: 0px 12px 28px rgba($black, 0.14);
$dropshadow--4: 0px 12px 28px rgba($black, 0.2);
$dropshadow--5: 0px 16px 32px rgba($black, 0.28);

$phone-small: 576px;
$tablet-small: 768px;
$tablet-medium: 992px;
$tablet-large: 1024px;
$desktop-xlarge: 1200px;
$desktop-xxlarge: 1400px;

$transition: all .3s ease;