@use './colors'as *;
@use './breakpoints' as *;
@use './nav'as *;
@use './headings' as *;
@use './footer'as *;
@use './slider' as *;
@use './cards' as *;
@use './buttons' as *;

::-webkit-scrollbar {
  display: none;
}

/* Firefox and IE */
html {
  /* remove scrollbar from Firefox */
  overflow: auto;
  scrollbar-width: none;

  /* remove scrollbar from IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background: $white;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $black;
  min-height: 100vh;
  background: url('../img/background-honeycomb.jpg') no-repeat center center fixed;
  background-size: cover;
}



// body {
//   margin: 0;
//   padding: 0;
//   font-family: "Roboto", sans-serif;
//   min-height: 100vh;

//   position: relative;
//   padding-bottom: 50px;
// }

main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  max-width: 1200px;
  margin: 0 auto;

  @include desktop-xlarge {
    padding-left: 0;
    padding-right: 0;
  }
}

// footer {
//   background: $primary;
//   text-align: center;
//   color: $white;
//   padding: 20px;

//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 50px;
// }

section article {

  h3 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

